<style>
    /* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    display:hidden;
    opacity:1;
    transition: opacity linear 0.25s;
}




/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #004d70;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}



#status,body .Track{
    float:right;
    text-align: right;
    padding:14px 35px;
}
</style>
<div class="topnav" id="myTopnav">
        <a href="/" class="active"></a>
        <a href="/login"></a>
        <a href="/contact"></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        <a href="/register" id="status">Register</a>
      </div>

<script>
    
    var topnav  = document.querySelector(".topnav")
    
    // click on nav link
    document.querySelector(".topnav").addEventListener('click',function(event){
        
        link = event.target
        href= link.getAttribute("href")
        if(link.tagName ==  "A"){

            
            event.preventDefault()

            fadebody = document.querySelector(".container")
            fadebody.style.opacity=0;

            
            window.setInterval(function(){
                window.location = href;
            },200)
            

            
        }

    })

    
    var NavElementsToAdd = ["Workouts","Progression","Goals"]
    
    
    document.addEventListener("DOMContentLoaded", StatusValidation );

    function StatusValidation(){
        var req = new XMLHttpRequest();
        
        req.open("GET","/Status",true);
       
        req.onload = function(){
            console.log(req.response)
            if(this.status == 202){
                var nav = document.querySelector("#status")
                nav.innerHTML  = req.responseText;
                nav.setAttribute("href", "/profile")

                var home =  document.querySelector('a[href="/"]')
                home.innerHTML = "Track"
                home.setAttribute("href", "/track")


                document.querySelector('a[href="/login"]').remove()
                document.querySelector('a[href="/contact"]').remove()
                

                
                
                for(var i = 0; i < NavElementsToAdd.length; i ++){
                newNavItem = topnav.insertBefore(document.createElement("a"),nav)
                newNavItem.innerHTML = NavElementsToAdd[i];
                newNavItem.setAttribute("href","/"+NavElementsToAdd[i].toLowerCase() )
                newNavItem.classList.add(NavElementsToAdd[i])

                }
                topnav.setAttribute("display","block")
            }
            else{
                document.querySelector('a[href="/"]').innerHTML= "Home"
                document.querySelector('a[href="/login"]').innerHTML= "Login"
                document.querySelector('a[href="/contact"]').innerHTML= "Contact"
                document.querySelector("#status").innerHTML= "Register"
                topnav.setAttribute("display","block")
            }
        }
        req.send()
    }

    
</script>