<style>
    /* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #004d70;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

#status,body .Track{
    float:right;
    text-align: right;
    padding:14px 35px;
}
</style>
<div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/login">Login</a>
        <a href="/contact">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        <a href="/register" id="status">Register</a>
      </div>

<script>
    var NavElementsToAdd = ["Workouts","Progression","Goals"]
    
    document.addEventListener("DOMContentLoaded", StatusValidation );

    function StatusValidation(){
        var req = new XMLHttpRequest();
        
        req.open("GET","/Status",true);
        req.onerror=function(){
            console.log("no token")
        }
        req.onload = function(){
            console.log(req.response)
            if(this.status == 200){
                var nav = document.querySelector("#status")
                nav.innerHTML  = req.responseText;
                nav.setAttribute("href", "/profile")

                var home =  document.querySelector('a[href="/"]')
                home.innerHTML = "Track"
                home.setAttribute("href", "/track")


                document.querySelector('a[href="/login"]').remove()
                document.querySelector('a[href="/contact"]').remove()
                

                var topnav  = document.querySelector(".topnav")
                
                for(var i = 0; i < NavElementsToAdd.length; i ++){
                newNavItem = topnav.insertBefore(document.createElement("a"),nav)
                newNavItem.innerHTML = NavElementsToAdd[i];
                newNavItem.setAttribute("href","/"+NavElementsToAdd[i].toLowerCase() )
                newNavItem.classList.add(NavElementsToAdd[i])

                }
            }
        }
        req.send()
    }
</script>