

        .topnav{
            margin-bottom:5%;
        }
     form div {
        display:flex; 
        flex-direction:column; 
        max-width: 30%; 
        color: white; 
        margin:auto;
     }
     div .jumbotron, .jumbotron p{
        background-color:#985179;
        color:#2e2e2e;
     }
     label{
         color:#985179;
     }
     form div input{
         padding:4px;
         padding-left:10px;
         border:none;
         border-radius:2px;
         color:#2e2e2e;
         background-color:#004d70;
         outline:none;
     }

      form div input[type=submit]{
        background-color:#004d70; 
        border:none; 
        margin-top:10px; 
        border-radius:10px;
        color:#2e2e2e;
     }
 
