<style> 
    h1,h3{text-align:center;
    padding:3%;}
    .container h3{
        font-size: small;
        color:white;
    }
</style>
{% extends "layout.html"%}
{% block body %}
<h1>Login</h1>

<form method="POST" action="/login">
    <div >
        <label for="username">Username</label>
        <input name="username" type="text"/>

        <label for="password">Password</label>
        <input name="password" type="password"/>

        <input type="submit" style="background-color:#004d70; border:none; margin-top:10px; border-radius:5px">
    </div>


</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <h3>{{ messages[0] }}</h3>
    {% endif %}
{% endwith %}
{% endblock %}